<app-navbar></app-navbar>

<div class="row">
    <div class="col-md-3">
        <app-sidebar></app-sidebar>

    </div>
    <div class="col-md-9">
        <div class="registration-form" >
            <form #createCourseForm="ngForm">
        
                <!-- <h3>{{createCourseForm.value | json}}</h3> -->
                <!-- <h3>{{courseData.value | json}}</h3> -->
        
                <div class="form-icon">
                    <h3 style="padding-top: 6px;">Create Your Course</h3>
                
                </div>
                <hr class="signup-hr">
        
                <div class="form-group">
                    <label for="courseName"class="form-label">Course Name</label>
                    <input type="text" [(ngModel)]="courseData.courseName" name="courseName" #fTitle="ngModel" class="form-control item"
                        id="username" required placeholder="Title">
                </div>
        
                <div class="class-danger" *ngIf="fTitle.invalid && (fTitle.touched || fTitle.dirty)">
                    <span class="input_box_style" *ngIf="fTitle.errors?.['required']">Title is
                        required</span>
                </div>
        
                <div class="form-group">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" [(ngModel)]="courseData.description" #fDescription="ngModel"
                        name="description" id="description" placeholder="Description of the course" minlength="10" required
                        rows="3"></textarea>
                </div>
        
                <div class="class-danger" *ngIf="fDescription.invalid && (fDescription.touched || fDescription.dirty)">
                    <span class="input_box_style" *ngIf="fDescription.errors?.['required']">This is
                        required</span>
                    <span class="input_box_style" *ngIf="fDescription.errors?.['minlength']">Description should have at least
                        10 characters</span>
                </div>
        
                <!-- duration -->
        
        
        
                <div class="form-group">
                    <label for="duration" class="form-label">Duration</label>
                    <select id="duration" name="duration" [(ngModel)]="courseData.duration" #fDuration="ngModel"
                        class="form-control item" required>
                        <option value="" disabled>Select duration</option>
                        <option *ngFor="let option of durationOptions" [value]="option">{{option}}</option>
                    </select>
                    <div class="class-danger" *ngIf="fDuration.invalid && (fDuration.touched || fDuration.dirty)">
                        <span class="input_box_style" *ngIf="fDuration.errors?.['required']">Please select a duration.</span>
                    </div>
                </div>
        
        
                <!-- Prerequisites -->
        
        
                <!-- mentors -->
        
                <div class="form-group">
                    <label for="mentors" class="form-label">Mentors</label>
                    <input type="text" [(ngModel)]="courseData.mentorName" name="mentors" #fMentors="ngModel"
                        class="form-control item" id="mentorName" required placeholder="Mentors">
                </div>
        
        
                <div class="class-danger" *ngIf="fMentors.invalid && (fMentors.touched || fMentors.dirty)">
                    <span class="input_box_style" *ngIf="fMentors.errors?.['required']">This is
                        required</span>
                </div>
        
        
        
                <!-- upload file -->
                <div class="form-group">
                    <label for="upload" class="form-label">Upload file:</label>
                    <input type="text" [(ngModel)]="courseData.url" name="url" class="form-control item" id="upload"
                        placeholder="Upload File">
                </div>
        
        
                <!-- buttons -->
        
                <div class="form-group">
                    <button type="button" class="btn btn-block create-account" (click)="onClickSubmit()">Create Course</button>
                </div>
                <div class="form-group">
                    <button style="background-color: black;" type="button" (click)="navigateToLandingPage()" class="btn btn-block create-account">Cancel</button>
                </div>
            </form>
        </div>
        
    </div>
</div>

<app-footer></app-footer>