<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar shadow-sm">
      <app-admin-sidebar></app-admin-sidebar>
    </nav>

    <!-- Main content -->
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-4 border-bottom">
        <h1 class="dashboard-heading">Admin Dashboard</h1>
      </div>

      <!-- Feedback List Card -->
      <div class="card shadow-lg mb-4">
        <div class="card-header bg-primary text-white">
          <h2 class="h5 mb-0">Feedback List</h2>
        </div>
        <ul class="list-group list-group-flush">
          <li *ngFor="let feedback of feedbacks; let i = index" [ngClass]="{'bg-light': i % 2 === 0, 'bg-white': i % 2 !== 0}" class="list-group-item">
            <div class="feedback-item">
              <div><strong>ID:</strong> {{ feedback.id }}</div>
              <div><strong>Username:</strong> {{ feedback.username }}</div>
              <div><strong>Description:</strong> {{ feedback.description }}</div>
            </div>
            <div class="text-end">
              <button class="btn btn-danger btn-sm mt-2" (click)="removeFeedback(feedback.id)">Remove Feedback</button>
            </div>
          </li>
        </ul>
      </div>
      
    </main>
  </div>
</div>
