.container {
  margin-top: 20px;
}

.help-support-header {
  margin-bottom: 20px;
  text-align: center; /* Center the heading and description */
}

.help-card {
  background-color: #f9f9f9;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px; /* Set a maximum width for the cards */
  margin: 0 auto; /* Center the cards horizontally */
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.card-text {
  margin-bottom: 20px;
}

.btn {
  display: block;
  width: 100%;
}

.mb-3 {
  margin-bottom: 20px;
}
