<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  
  <style>
  .navbar-brand {
    font-weight: bold;
  }
  
  .navbar-nav .nav-item .nav-link {
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
  }
  
  .navbar-nav .nav-item .nav-link:hover {
    text-decoration: underline;
  }
  
  .navbar-nav .nav-item.active .nav-link {
    color: #007bff;
  }
  
  .form-control {
    width: 250px;
  }
  
  @media (max-width: 768px) {
    .form-control {
      width: 100%;
    }
  }
  </style>
  