<div class="container-fluid d-flex bg-light w-100">
  <ul class="list-group w-100 vh-100">

    <!-- All Users -->
    <li class="list-group-item d-flex align-items-center">
      <i class="fas fa-users me-3"></i>
      <span class="icon_name"><a routerLink="/admin-page/all-users">Users</a></span>
    </li>

    <!-- All Mentors -->
    <li class="list-group-item d-flex align-items-center">
      <i class="fas fa-chalkboard-teacher me-3"></i>
      <span class="icon_name"><a routerLink="/admin-page/all-mentors">All Mentors</a></span>
    </li>

    <!-- All Queries -->
    <li class="list-group-item d-flex align-items-center">
      <i class="fas fa-question-circle me-3"></i>
      <span class="icon_name"><a routerLink="/admin-page/all-queries">All Queries</a></span>
    </li>

    <!-- Pending Requests of Mentors -->
    <li class="list-group-item d-flex align-items-center">
      <i class="fas fa-clock me-3"></i>
      <span class="icon_name"><a routerLink="/admin-page/all-pending-requests">Pending Requests</a></span>
    </li>

    <li class="list-group-item d-flex align-items-center">
      <i class="fas fa-comment-dots me-3"></i>
      <span class="icon_name"><a routerLink="/admin-page/all-feedbacks">Feedbacks</a></span>
    </li>
  </ul>
</div>
