@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

/* Navbar Customization */
.navbar {
    background-color: #010514;
    border-radius: 5px;
    padding: 10px 20px;
}

.navbar-collapse {
    justify-content: center;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navbar-nav .nav-link {
    color: #b7b7b7;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 15px;
}

.navbar-nav .nav-link:hover {
    color: #dedbdb;
    background-color: #383a3e;
    border-radius: 5px;
}

.navbar-nav .nav-link.active {
    color: #dedbdb;
    font-weight: 600;
    background-color: #383a3e;
    border-radius: 5px;
}

.navbar-nav .nav-link:active {
    color: #dedbdb;
    background-color: #494c50;
}

.navbar-nav .nav-link.disabled {
    color: #5a5d64;
    pointer-events: none;
    opacity: 0.5;
}


body {
    font-family: 'Maven Pro', sans-serif
}

body{
  background-color: #eee;
}

.add{

  border-radius: 20px;
}

.card{

  border:none;
  border-radius: 10px;
  transition: all 1s;
  cursor: pointer;
}

.card:hover{

   -webkit-box-shadow: 3px 5px 17px -4px #777777; 
box-shadow: 3px 5px 17px -4px #777777;
}

.ratings i {

  color: green;
}

.apointment button{

  border-radius: 20px;
  background-color: #eee;
  color: #000;
  border-color: #eee;
  font-size: 13px;
}