<app-navbar></app-navbar>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/3.6.95/css/materialdesignicons.css">


</head>
<body>

    
<div class="container d-flex justify-content-center mt-5">
    
	<div class="main">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav w-60"> 
                    <a class="nav-item nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link mx-center" href="#">Features</a>
                    <a class="nav-item nav-link ml-center" href="#">Pricing</a>
                </div>
            </div>
        </nav>
		<div class="row">            			
			<div class="col-md-3">
				
				<div>
					
				<div class="one">
					<div class="text-right pr-2 pt-1"><i class="mdi mdi-dots-vertical dotdot"></i></div>
					<div class="d-flex justify-content-center"><img src="https://i.imgur.com/hczKIze.jpg" width="50" class="rounded-circle"></div>
					<div class="text-center">
						<span class="name">Uesugi Suzuki</span>
						<p class="mail">ususksfjkgmail.com</p>
					</div>
					<div class="text-center">
						<span class="total d-block pt-2">Total Contributions</span>
						<span class="money">$ 828,255</span>
					</div>
					<div class="text-center align-items-center d-flex justify-content-center pt-2 pb-2"><span class="details">View Details</span><i class="mdi mdi-arrow-right right pl-1"></i></div>

				</div>
				</div>


				<div class="pt-2">
					<div class="one">
					<div class="text-right pr-2 pt-1"><i class="mdi mdi-dots-vertical dotdot"></i></div>
					<div class="d-flex justify-content-center"><img src="https://i.imgur.com/AgAC1Is.jpg" width="50" class="rounded-circle"></div>
					<div class="text-center">
						<span class="name">Amachea Jagah</span>
						<p class="mail">us616fjkgmail.com</p>
					</div>
					<div class="text-center">
						<span class="total d-block pt-2">Total Contributions</span>
						<span class="money">$ 1,241</span>
					</div>
					<div class="text-center align-items-center d-flex justify-content-center pt-2 pb-2"><span class="details">View Details</span><i class="mdi mdi-arrow-right right pl-1"></i></div>

				</div>
				</div>

			</div>





			<div class="col-md-3">
				
				<div>
					
				<div class="one">
					<div class="text-right pr-2 pt-1"><i class="mdi mdi-dots-vertical dotdot"></i></div>
					<div class="d-flex justify-content-center"><img src="https://i.imgur.com/tPvlEdq.jpg" width="50" class="rounded-circle"></div>
					<div class="text-center">
						<span class="name">Kimmy Mcilmorie</span>
						<p class="mail">usus_45ksfjkgmail.com</p>
					</div>
					<div class="text-center">
						<span class="total d-block pt-2">Total Contributions</span>
						<span class="money">$ 741,004</span>
					</div>
					<div class="text-center align-items-center d-flex justify-content-center pt-2 pb-2"><span class="details">View Details</span><i class="mdi mdi-arrow-right right pl-1"></i></div>

				</div>
				</div>


				<div class="pt-2">
					<div class="one">
					<div class="text-right pr-2 pt-1"><i class="mdi mdi-dots-vertical dotdot"></i></div>
					<div class="d-flex justify-content-center"><img src="https://i.imgur.com/2pRGm74.jpg" width="50" class="rounded-circle"></div>
					<div class="text-center">
						<span class="name">Cvita Doleschall</span>
						<p class="mail">hjsus_ksfjkgmail.com</p>
					</div>
					<div class="text-center">
						<span class="total d-block pt-2">Total Contributions</span>
						<span class="money">$ 325,000</span>
					</div>
					<div class="text-center align-items-center d-flex justify-content-center pt-2 pb-2"><span class="details">View Details</span><i class="mdi mdi-arrow-right right pl-1"></i></div>

				</div>
				</div>

			</div>






			<div class="col-md-3">
				<div>
					
				<div class="one">
					<div class="text-right pr-2 pt-1"><i class="mdi mdi-dots-vertical dotdot"></i></div>
					<div class="d-flex justify-content-center"><img src="https://i.imgur.com/AgAC1Is.jpg" width="50" class="rounded-circle"></div>
					<div class="text-center">
						<span class="name">Amachea Jagah</span>
						<p class="mail">us616fjkgmail.com</p>
					</div>
					<div class="text-center">
						<span class="total d-block pt-2">Total Contributions</span>
						<span class="money">$ 12,985</span>
					</div>
					<div class="text-center align-items-center d-flex justify-content-center pt-2 pb-2"><span class="details">View Details</span><i class="mdi mdi-arrow-right right pl-1"></i></div>

				</div>
				</div>


				<div class="pt-2">
					<div class="one">
					<div class="text-right pr-2 pt-1"><i class="mdi mdi-dots-vertical dotdot"></i></div>
					<div class="d-flex justify-content-center"><img src="https://i.imgur.com/hczKIze.jpg" width="50" class="rounded-circle"></div>
					<div class="text-center">
						<span class="name">Uesugi Suzuki</span>
						<p class="mail">ususksfjkgmail.com</p>
					</div>
					<div class="text-center">
						<span class="total d-block pt-2">Total Contributions</span>
						<span class="money">$ 53,123</span>
					</div>
					<div class="text-center align-items-center d-flex justify-content-center pt-2 pb-2"><span class="details">View Details</span><i class="mdi mdi-arrow-right right pl-1"></i></div>

				</div>
				</div>

			</div>






			<div class="col-md-3">
				<div>
					
				<div class="one">
					<div class="text-right pr-2 pt-1"><i class="mdi mdi-dots-vertical dotdot"></i></div>
					<div class="d-flex justify-content-center"><img src="https://i.imgur.com/2pRGm74.jpg" width="50" class="rounded-circle"></div>
					<div class="text-center">
						<span class="name">Cvita Doleschall</span>
						<p class="mail">hjsus_ksfjkgmail.com</p>
					</div>
					<div class="text-center">
						<span class="total d-block pt-2">Total Contributions</span>
						<span class="money">$ 123,321</span>
					</div>
					<div class="text-center align-items-center d-flex justify-content-center pt-2 pb-2"><span class="details">View Details</span><i class="mdi mdi-arrow-right right pl-1"></i></div>

				</div>
				</div>


				<div class="pt-2">
					<div class="one">
					<div class="text-right pr-2 pt-1"><i class="mdi mdi-dots-vertical dotdot"></i></div>
					<div class="d-flex justify-content-center"><img src="https://i.imgur.com/hczKIze.jpg" width="50" class="rounded-circle"></div>
					<div class="text-center">
						<span class="name">Uesugi Suzuki</span>
						<p class="mail">ususksfjkgmail.com</p>
					</div>
					<div class="text-center">
						<span class="total d-block pt-2">Total Contributions</span>
						<span class="money">$ 1,125,123</span>
					</div>
					<div class="text-center align-items-center d-flex justify-content-center pt-2 pb-2"><span class="details">View Details</span><i class="mdi mdi-arrow-right right pl-1"></i></div>

				</div>
				</div>

			</div>



		</div>

	</div>
	
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</body>