<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

<body>

    <section class="section about-section gray-bg" id="about">
        <app-navbar></app-navbar>
        <div class=" row">
            <div class="col-md-3">
                <app-sidebar></app-sidebar>
            </div>

            <div class="row align-items-center flex-row-reverse col-md-9">
                <div class="col-lg-6">
                    <div class="about-text go-to ">
                        <h3 class="dark-color">{{user.name}}</h3>
                        <h6 class="theme-color lead">
                            <div class="media">
                                <label>User_Id:</label>
                                <p>{{user.id}}</p>
                            </div>
                        </h6>
                        <div class="row about-list">
                            <div class="col-md-6">
                                <div class="media">
                                    <label>Role:</label>
                                    <p>{{user.role}}</p>
                                </div>
                                <div class="media">
                                    <label>Age:</label>
                                    <p>22 Yr</p> 
                                 </div>
                                <div class="media">
                                    <label>E-mail:</label>
                                    <p>{{user.email}}</p>
                                </div> 
                                 <div class="media">
                                    <label>Phone:</label>
                                    <p>{{user.contact}}</p>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-avatar">
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" title="" alt="">
                    </div>
                </div>


                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav w-60">
                            <a class="nav-item nav-link" href="#">Enrolled Courses <span class="sr-only">(current)</span></a>
                            <a class="nav-item nav-link mx-center" href="completed/courses">Completed</a>
                            <a class="nav-item nav-link ml-center" href="pending/courses">Pending</a>
                        </div>
                    </div>
                </nav>

                <div class="container mt-5 mb-5">
                    <div class="row g-2">
                        <!-- Loop through the users array to display courses -->
                        <div class="col-md-6" *ngFor="let course of courses">
                            <a href="/course/{{course.id}}">
                            <div class="card p-2 py-3 text-center">
                                <div class="img mb-2">
                                    <img src="https://img.freepik.com/free-photo/book-composition-with-open-book_23-2147690555.jpg"
                                        width="100" class="" title="this shows the full details of the course">
                                </div>
                                <h5 class="mb-0">course name</h5>
                                <small>mentor</small>

                                <div class="mt-4 apointment">
                                    <a href="/landing-page"><button class="btn btn-success text-uppercase">Enroll
                                            Now</button></a>
                                </div>
                            </div>
                        </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </section>
</body>