.jumbotron-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: flex-end;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.387), rgba(0, 0, 0, 0.7));
    z-index: 0;
}

.content {
    position: relative;
    width: 100%;
    padding: 2rem 10rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    z-index: 1;
}

.text-wrapper {
    text-align: center;
}

.content h1,
.content p,
.content a {
    color: white;
}

.content a.btn {
    background-color: rgba(0, 123, 255, 0.7);
}

.content a.btn:hover {
    background-color: rgba(0, 123, 255, 1);
}