<div class="jumbotron-container">
    <img src="https://media.licdn.com/dms/image/v2/D4E12AQE7vmNSaGOk7A/article-cover_image-shrink_720_1280/article-cover_image-shrink_720_1280/0/1705412418586?e=2147483647&v=beta&t=T0vOPm1t8cAx6iOHkBK57-jX-Jz-HjYHD3Kr0htdKak" alt="Background Image" class="background-image">
    <div class="gradient-overlay"></div>
    <div class="content">
      <div class="text-wrapper">
        <h1 class="display-4">Welcome to LMS</h1>
        <p class="lead">Empowering your learning journey</p>
        <hr class="my-4">
        <p>Our Learning Management System offers a comprehensive platform for managing educational content, tracking learner progress, and enhancing the overall learning experience. Whether you're an educator, a corporate trainer, or a learner, our LMS provides the tools you need to achieve your educational goals.</p>
        <a class="btn btn-primary btn-lg" href="login-page" role="button">Get Started</a>
      </div>
    </div>
  </div>
  