<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

<body>

    <section class="section about-section gray-bg" id="about">
        <app-navbar></app-navbar>
        <div class=" row ">
            <div class="col-md-3">
                <app-sidebar></app-sidebar>
            </div>

            <div class="row align-items-center flex-row-reverse col-md-9">


                <div class="pending">
                    <h5>Pending Courses</h5>
                </div>


                
            

                <div class="container mt-5 mb-5">
                    <div class="row g-2">
                        <!-- Loop through the users array to display courses -->
                        <div class="col-md-6" *ngFor="let course of courses">
                            <a [routerLink]="['/course', course.id]">
                                <div class="card p-2 py-3 text-center">
                                    <div class="img mb-2">
                                        <img src="https://img.freepik.com/free-photo/book-composition-with-open-book_23-2147690555.jpg"
                                            width="100" alt="course image">
                                    </div>
                                    <h5 class="mb-0">{{course.name}}</h5>
                                    <small>description</small>
                                    <small>mentor-id</small>

                                    <div class="mt-4 apointment">
                                         <a href="/landing-page"><button class="btn btn-success text-uppercase">Enroll
                                                Now</button></a>
                                    </div>
                                    <!-- Other content -->
                                </div>
                            </a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </section>
</body>