<!-- Signup Page starts-->
<section class="">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color:#F3F4F6">
        <div class="container" style="max-width: 80%;">
            <div class="row gx-lg-5 align-items-center">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <img class="signup_image" alt="lms" src="https://th.bing.com/th/id/OIP.-s1F8xPO4Tn-X64HPfp4gwAAAA?w=312&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7"/>       
                </div>
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="card">
                        <div class="card-body py-5 px-md-5">
                            <h3 class="sign_class">Sign Up</h3>
                            <!-- Horizontal line -->
                            <hr class="signup-hr">

                            <!-- form starts -->
                            <form #registerForm="ngForm">
                                <!-- <h2>{{registerForm.value | json}}</h2> -->
                                <!-- <h2>{{userData | json}}</h2> -->

                                <!-- Name -->
                                <div class="row mb-4 align-items-center">
                                    <div class="col-sm-4 text-end">
                                        <label for="form3Example3" class="form-label">Name:</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" [(ngModel)]="userData.fullName" name="name" #fName="ngModel"
                                            id="form3Example3" placeholder="Name" required class="form-control" />
                                            
                                        </div>
                                        <div class="class-danger" *ngIf="fName.invalid && (fName.touched || fName.dirty)">
                                            <span class="input_box_style" *ngIf="fName.errors?.['required']">This is
                                                required</span>
                                        </div>
                                </div>
       

                                <!-- Email input -->
                                <div class="row mb-4 align-items-center">
                                    <div class="col-sm-4 text-end">
                                        <label for="form3Example4" class="form-label">Email:</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="email" [(ngModel)]="userData.email"
                                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" #fEmail="ngModel"
                                            name="email" id="form3Example4" placeholder="Email" required
                                            class="form-control" />
                                           
                                    </div>
                                    <div class="class-danger" *ngIf="fEmail.invalid && (fEmail.touched || fEmail.dirty)">
                                        <span class="input_box_style" *ngIf="fEmail.errors?.['required']">This is
                                            required</span>
                                        <span class="input_box_style" *ngIf="fEmail.errors?.['pattern']">Please
                                            enter valid email-id</span>
                                    </div>
                                </div>
                               

                                <!-- Password input -->
                                <div class="row mb-4 align-items-center">
                                    <div class="col-sm-4 text-end">
                                        <label for="form3Example5" class="form-label">Password:</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="password" [(ngModel)]="userData.password" #fPassword="ngModel"
                                            name="password" id="form3Example5" placeholder="Password" minlength="8"
                                            required class="form-control" />
                                       
                                    </div>
                                    <div class="class-danger"
                                    *ngIf="fPassword.invalid && (fPassword.touched || fPassword.dirty)">
                                    <span class="input_box_style" *ngIf="fPassword.errors?.['required']">This is
                                        required</span>
                                    <span class="input_box_style"
                                        *ngIf="fPassword.errors?.['minlength']">Minimum length required 8</span>
                                </div>
                                </div>

                                <!-- Mobile -->
                                <div class="row mb-4 align-items-center">
                                    <div class="col-sm-4 text-end">
                                        <label for="form3Example6" class="form-label">Mobile:</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" [(ngModel)]="userData.contactNumber" name="mobile"
                                            #fMobile="ngModel" id="form3Example6" placeholder="Mobile" pattern="[0-9]*"
                                            minlength="10" maxlength="10" required class="form-control" />
                                        
                                    </div>
                                    <div class="class-danger"
                                            *ngIf="fMobile.invalid && (fMobile.touched || fMobile.dirty)">
                                            <span class="input_box_style" *ngIf="fMobile.errors?.['required']">This is
                                                required</span>
                                            <span class="input_box_style" *ngIf="fMobile.errors?.['pattern']">Please
                                                enter only numeric values</span>
                                            <span class="input_box_style"
                                                *ngIf="!fMobile.errors?.['pattern'] && fMobile.errors?.['minlength']">length
                                                should be 10</span>
                                            <span class="input_box_style"
                                                *ngIf="!fMobile.errors?.['pattern'] && fMobile.errors?.['maxlength']">length
                                                should be 10</span>

                                        </div>
                                </div>

                                <!-- Role -->
                                <div class="row mb-4 align-items-center">
                                    <div class="col-sm-4 text-end">
                                        <label class="form-label">Role:</label>
                                    </div>
                                    <div class="col-sm-8 d-flex align-items-center">
                                        <label style="font-size: 15px;" class="student me-2">Student</label>
                                        <label class="switch me-2">
                                            <input type="checkbox">
                                            <span class="slider round"></span>
                                        </label>
                                        <label style="font-size: 15px;" class="mentor">Mentor</label>
                                    </div>
                                </div>

                                <!-- Submit button -->
                                <button type="submit" (click)="onSubmit()" data-mdb-button-init data-mdb-ripple-init
                                <button type="submit" data-mdb-button-init data-mdb-ripple-init
                                (click)="navigateToLoginPage()"
                                    class="btn btn-primary btn-block mb-4">
                                    Sign up
                                </button>

                                <!-- Cancel button -->
                                <button type="button" data-mdb-button-init data-mdb-ripple-init
                                (click)="navigateToLandingPage()"
                                    class="custom_button btn btn-secondary btn-block mb-4">
                                    Cancel
                                </button>

                                <div class="form-check d-flex justify-content-center mb-4">
                                    <label style="font-size: 15px;">Already have an account?</label>
                                    <a style="padding-left:4px ;font-size:15px;" href="/login-page">Login</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Jumbotron -->
</section>
<!-- Signup page ends -->