<!-- Signup Page-->



<!-- Signup Page -->
<section class="">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
        <div class="container" style="max-width: 75%;">
            <div class="row gx-lg-5 align-items-center">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <h1 class="my-5 display-3 fw-bold ls-tight">
                        Learning <br />
                        <span class="text-primary">Management System</span>
                    </h1>
                </div>
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="card">
                        <div class="card-body py-5 px-md-5">
                            <h3 class="sign_class">Signup</h3>

                            <!-- form starts -->

                            <form #registerForm="ngForm">
                                <!-- Name -->
                                <div class="form-outline mb-4">
                                    <div class="d-flex align-items-center">
                                        <label for="form3Example3" class="form-label me-2">Name:</label>
                                        <input type="text" [(ngModel)]="userData.name" name="name" #fName="ngModel"
                                            id="form3Example3" placeholder="Name" required class="form-control" />
                                    </div>
                                    <div class="class-danger" *ngIf="fName.invalid && (fName.touched || fName.dirty)">
                                        <span *ngIf="fName.errors?.['required']">This is required</span>
                                    </div>
                                </div>

                                <!-- Email input -->
                                <div class="form-outline mb-4">
                                    <div class="d-flex align-items-center">
                                        <label for="form3Example4" class="form-label me-2">Email:</label>
                                        <input type="email" [(ngModel)]="userData.email"
                                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" #fEmail="ngModel" name="email"
                                            id="form3Example4" placeholder="Email" required class="form-control" />
                                    </div>
                                    <div class="class-danger" *ngIf="fEmail.invalid && (fEmail.touched || fEmail.dirty)">
                                        <span *ngIf="fEmail.errors?.['required']">This is required</span>
                                        <span *ngIf="fEmail.errors?.['pattern']">Email ID not proper</span>
                                    </div>
                                </div>

                                <!-- Password input -->
                                <div class="form-outline mb-4">
                                    <div class="d-flex align-items-center">
                                        <label for="form3Example5" class="form-label me-2">Password:</label>
                                        <input type="password" [(ngModel)]="userData.password" #fPassword="ngModel"
                                            name="password" id="form3Example5" placeholder="Password" minlength="8" required
                                            class="form-control" />
                                    </div>
                                    <div class="class-danger"
                                        *ngIf="fPassword.invalid && (fPassword.touched || fPassword.dirty)">
                                        <span *ngIf="fPassword.errors?.['required']">This is required</span>
                                        <span *ngIf="fPassword.errors?.['minlength']">Minimum length required 8</span>
                                    </div>
                                </div>

                                <!-- Mobile -->
                                <div class="form-outline mb-4">
                                    <div class="d-flex align-items-center">
                                        <label for="form3Example6" class="form-label me-2">Mobile:</label>
                                        <input type="text" [(ngModel)]="userData.mobile" name="mobile" #fMobile="ngModel"
                                            id="form3Example6" placeholder="Mobile" required class="form-control" />
                                    </div>
                                    <div class="class-danger"
                                        *ngIf="fMobile.invalid && (fMobile.touched || fMobile.dirty)">
                                        <span *ngIf="fMobile.errors?.['required']">This is required</span>
                                    </div>
                                </div>

                                <!-- Role -->
                                <div class="form-outline mb-4">
    
                                      
                                        <label class="student me-2">Student</label>
                                        <label class="switch me-2">
                                            <input type="checkbox">
                                            <span class="slider round"></span>
                                        </label>
                                        <label class="mentor">Mentor</label>
                                
                                </div>

                                <!-- Submit button -->
                                <button type="submit" data-mdb-button-init data-mdb-ripple-init
                                    class="btn btn-primary btn-block mb-4">
                                    Sign up
                                </button>

                                <!-- Cancel button -->
                                <button type="button" data-mdb-button-init data-mdb-ripple-init
                                    class="custom_button btn btn-secondary btn-block mb-4">
                                    Cancel
                                </button>

                                <div class="form-check d-flex justify-content-center mb-4">
                                    <label>Already have an account?</label>
                                    <a style="padding-left:4px" href="#">Signin</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Jumbotron -->
</section>
<!-- Signup page ends -->
