<div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="users">
                <i class="bi bi-people-fill"></i> Users
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="mentors">
                <i class="bi bi-person-check-fill"></i> Mentors
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="mentors">
                <i class="bi bi-person-check-fill"></i> Queries
              </a>
            </li>
          </ul>
        </div>
      </nav>
  
      <!-- Main content -->
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Admin Dashboard</h1>
        </div>
        <app-user-list></app-user-list>
        <app-mentor-list></app-mentor-list>
        <app-query-list></app-query-list>
      </main>
    </div>
  </div>
  
