<div class="">
  <div class="course-details">
    <!-- Image Container -->
    <div class="img-container">
      <img [src]="course.image" alt="Course Image" class="img-fluid">
    </div>

    <!-- Information Container -->
    <div class="information">
      <!-- Title -->
      <div class="title">
        <h1>{{ course.title }}</h1>
      </div>

      <!-- Price -->
      <div class="price">
        <p><strong>Price:</strong> ${{ course.price }}</p>
      </div>

      <!-- Description -->
      <div class="description">
        <p>{{ course.description }}</p>
      </div>

      <!-- Start Now Button -->
      <div class="button-start-now">
        <button *ngIf="!userLoggedIn" type="button" class="btn btn-primary" (click)="enrollInCourse()">Enroll Now</button>
  
        <span *ngIf="userLoggedIn && isEnrolled && courseStatus === 'completed'" class="btn btn-secondary">Enrolled</span>
  
        <button *ngIf="userLoggedIn && isEnrolled && courseStatus === 'pending'" type="button" class="btn btn-success" (click)="markAsComplete()">Mark as Complete</button>
  
        <button *ngIf="userLoggedIn && !isEnrolled" type="button" class="btn btn-primary" (click)="enrollInCourse()">Enroll Now</button>
      </div>
  

    </div>
  </div>
</div>
