/* .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.img-container {
    margin-bottom: 20px;
}

.img-container img {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.information .title h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.information .duration,
.information .prerequisites,
.information .mentors,
.information .description {
    margin-bottom: 15px;
}

.information .description p {
    font-size: 1rem;
    line-height: 1.6;
}

.button-start-now {
    margin-top: 20px;
}

.button-start-now .btn {
    font-size: 1.2rem;
    padding: 10px 20px;
} */
