<!-- <app-course-count 
  [all]="getAllCourses()" 
  [pending]="getAllPendingCourses()"
  [completed]="getAllCompletedCourses()"
  (radioButtonCustomEvent)="type = $event"></app-course-count> -->

  <div class="container">
    <div class="scrolling-wrapper">
      <div class="card-container" *ngFor="let category of categories">
        <a [routerLink]="['/course', category.courseId]">

          <div class="card mb-4">
            <img [src]="" class="card-img-top" alt="...">
            <div class="card-body d-flex flex-column">
              <div class="card-title">{{category.courseName}}</div>
              <p class="card-text">{{category.description | slice:0:25}}...</p> <!-- Truncate description -->
              <a href="#" class="btn btn-primary card-button mt-auto">Enroll Now</a>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  