<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar shadow-sm">
      <app-admin-sidebar></app-admin-sidebar>
    </nav>

    <!-- Main content -->
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-4 border-bottom">
        <h1 class="dashboard-heading">Admin Dashboard</h1>
      </div>

      <!-- Mentors Requests Card -->
      <div class="card shadow-lg mb-4">
        <div class="card-header bg-primary text-white">
          <h2 class="h5 mb-0">Mentors Requests</h2>
        </div>
        <div class="card-body p-0">
          <table class="table table-striped mb-0">
            <thead class="table-primary">
              <tr>
                <th>Mentor ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let mentor of mentors">
                <td>{{ mentor.id }}</td>
                <td>{{ mentor.fullName }}</td>
                <td>{{ mentor.email}}</td>
                <td>
                  <span *ngIf="mentor.approval" class="badge bg-success">Approved</span>
                  <span *ngIf="!mentor.approval" class="badge bg-danger">Not Approved</span>
                </td>
                <td>
                  <button *ngIf="!mentor.approval" class="btn btn-primary btn-sm" (click)="approveMentor(mentor.id)">
                    Approve
                  </button>
                  <button class="btn btn-danger btn-sm ms-2" (click)="removeMentor(mentor.id)">
                    Remove
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      

      <!-- Courses Requests Card -->
      <div class="card shadow-lg">
        <div class="card-header bg-primary text-white">
          <h2 class="h5 mb-0">Courses Requests</h2>
        </div>
        <ul class="list-group list-group-flush">
          <li *ngFor="let course of courses; let i = index" [ngClass]="{'bg-light': i % 2 === 0, 'bg-white': i % 2 !== 0}" class="list-group-item">
            <div class="mb-1"><strong>ID:</strong> {{ course.courseId }}</div>
            <div class="mb-1"><strong>Title:</strong> {{ course.courseName }}</div>
            <div class="mb-1"><strong>Description:</strong> {{ course.description }}</div>
            <div class="mb-3"><strong>Mentor ID:</strong> {{ course.mentorId }}</div>
            <div class="admin-button">
              <span *ngIf="course.status" class="badge badge-approved">Approved</span>
              <button *ngIf="!course.status" class="btn btn-primary btn-sm" (click)="approveCourse(course.courseId)">
                Approve
              </button>
              <button class="btn btn-danger btn-sm ms-2" (click)="removeCourse(course.courseId)">
                Remove
              </button>
            </div>
          </li>
        </ul>
      </div>
      
    </main>
  </div>
</div>
