<div class="container-fluid">
  <app-navbar></app-navbar>
  <div class="row">
    <!-- Sidebar -->
    <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar shadow-sm">
      <app-admin-sidebar></app-admin-sidebar>
    </nav>

    <!-- Main content -->
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-4 border-bottom">
        <h1 class="dashboard-heading">Admin Dashboard</h1>
      </div>

      <!-- All Users Card -->
      <div class="card shadow-lg mb-4">
        <div class="card-header bg-primary text-white">
          <h2 class="h5 mb-0">All Users</h2>
        </div>
        <div class="card-body p-0">
          <table class="table table-striped mb-0">
            <thead class="table-primary">
              <tr>
                <th>User ID</th>
                <th>Name</th>
                <th>Number</th>
                <th>Completed Courses</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td>{{ user.fullName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.contact }}</td>
                <td>{{ user.role }}</td>


              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
      
    </main>
  </div>
</div>
